<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit - memo app.</title>
</head>
<body>
  <h2>memo app.</h2>
  <form>
    <input type="text" value="メモ1">
    <textarea>メモの内容</textarea>
    <button type="submit">変更</button>
  </form>
</body>
</html>
