<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit - memo app.</title>
</head>
<body>
  <h2>memo app.</h2>
  <form action="/memo/<%= @id %>" method="post">
    <input type="hidden" id="_method" name="_method" value="PUT">
    <input type="text" id="title" name="title" value=<%= @title %>>
    <textarea id="detail" name="detail"><%= @detail %></textarea>
    <input type="submit" value="変更">
  </form>
</body>
</html>
