<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>toppage - memo app.</title>
</head>
<body>
  <h2>memo app.</h2>
  <button type="submit">追加</button>
  <ul>
    <li>メモ1</li>
    <li>メモ2</li>
    <li>メモ3</li>
    <li>メモ4</li>
  </ul>
</body>
</html>
