<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>toppage - memo app.</title>
</head>
<body>
  <h2>memo app.</h2>
  <a href="http://localhost:4567/new">追加</a>
  <ul>
    <% @memos.each do |memo| %>
      <li>
        <a href="/memo/<%= memo[:id] %>"><%= memo[:title] %></a>
      </li>
    <% end %>
  </ul>
</body>
</html>
