<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>newmemo - memo app.</title>
</head>
<body>
  <h2>memo app.</h2>
  <form>
    <input type="text">
    <textarea></textarea>
    <button type="submit">保存</button>
  </form>
</body>
</html>
