<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>memo_detail - memo app.</title>
</head>
<body>
  <h2>memo app.</h2>
  <h3><%= @title %></h3>
  <p><%= @detail %></p>
  <form>
    <a href="http://localhost:4567/memo/<%= @id %>/edit">変更</a>
    <button type="submit">削除</button>
  </form>
</body>
</html>
