<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>memo_detail - memo app.</title>
</head>
<body>
  <h2>memo app.</h2>
  <h3><%= @title %></h3>
  <p><%= @detail %></p>
  <form action="/memo/<%= @id %>/edit" method="get">
    <input type="submit" value="変更">
  </form>
  <form action="/memo/<%= @id %>" method="post">
    <input type="hidden" id="_method" name="_method" value="DELETE">
    <input type="submit" value="削除">
  </form>
</body>
</html>
