<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>memo_detail - memo app.</title>
</head>
<body>
  <h2>memo app.</h2>
  <h3>メモ1</h3>
  <p>メモの内容</p>
  <p>メモの内容</p>
  <p>メモの内容</p>
  <form>
    <button type="submit">変更</button>
    <button type="submit">削除</button>
  </form>
</body>
</html>
